<ion-modal-view>

	<ion-header-bar class="bar-positive">
		<h2 class="title">Producto</h2>
		<div class="buttons">
			<button ng-click="closeModal()" class="button icon ion-close"></button>
		</div>
	</ion-header-bar>

	<ion-content>

		 <form ng-submit="saveProducto()">

    		<div class="list list-inset">

    			<label class="item item-input item-floating-label">
					<span class="input-label">Nombre Producto:</span>
					<input type="text" placeholder="Nombre del producto" ng-model="producto.nombre">
				</label>

				<label class="item item-input item-floating-label">
					<span class="input-label">Precio unitario</span>
					<input type="text" placeholder="Precio unitario" ng-model="producto.precio">
				</label>

			  <div class="list list-inset">
              <label class="item item-input item-select">
                <div class="input-label">
                  Tipo de Producto
                </div>
                <select>
                  <option>Pequeño</option>
                  <option>Mediano</option>
                  <option selected>Familiar</option>
                </select>
              </label>
            </div>

			</div>

		<div class="item item-text-wrap">{{"Foto del Producto:"}}

			<div class="row">

				<div class="col">
					<button type="button" ng-click="takePicture()" class="button icon-left ion-camera button-dark button-block">Camara</button>
				</div>

				<div class="col">
					<button type="button" ng-click="choosePicture()" class="button icon-left ion-images button-royal button-block">Libreria</button>
				</div>

			</div>
		</div>

			<div class="padding" ng-show="producto.photo">
				<img class="full-image" ng-src="{{ producto.photo }}" alt="photo">
			</div> 

	
			<div class="padding">
				<button type="submit" ng-click="closeModal()" class="button button-positive button-full" ng-show="visibility">Guardar</button>
			</div>

	</form>
			
	</ion-content>
</ion-modal-view>