<ion-modal-view>

	<ion-header-bar class="bar-positive">
		<h2 class="title">Cliente</h2>
		<div class="buttons">
			<button ng-click="closeModal()" class="button icon ion-close"></button>
		</div>
	</ion-header-bar>

	<ion-content>

		 <form ng-submit="agregar()">

    		<div class="list">

				<label class="item item-input item-floating-label">
					<span class="input-label">Nombre:</span>
					<input type="text" placeholder="Nombre" ng-model="cliente.nombre">
				</label>

				<label class="item item-input item-floating-label">
					<span class="input-label">Apellido Paterno</span>
					<input type="text" placeholder="Apellido Paterno" ng-model="cliente.apPat">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Apellido Materno</span>
					<input type="text" placeholder="Apellido Materno" ng-model="cliente.apMat">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Carnet de Identidad</span>
					<input type="number" placeholder="CI" ng-model="cliente.CI">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Nombre Tienda</span>
					<input type="text" placeholder="Nombre Tienda" ng-model="cliente.nombreTienda">
				</label>

			</div>

		<div class="item item-text-wrap">{{"Elija o saque una foto de la Tienda para su registro:"}}

			<div class="row">

				<div class="col">
					<button type="button" ng-click="takePicture()" class="button icon-left ion-camera button-dark button-block">Camara</button>
				</div>

				<div class="col">
					<button type="button" ng-click="choosePicture()" class="button icon-left ion-images button-assertive button-block">Libreria</button>
				</div>

			</div>
		</div>

		<div class="item item-text-wrap">{{"Necesitamos su ubicación, no olvide presionar el boton:"}}

			<div class="padding">
				<button type="button" ng-click="getPosition()" class="button icon-left button-calm button-block ion-location">ubicación</button>
			</div>
		</div>

			<div class="padding" ng-show="cliente.photo">
				<img class="full-image" ng-src="{{ cliente.photo }}" alt="photo">
			</div> 

	
			<div class="padding">
				<button type="submit" ng-click="closeModal()" class="button button-calm button-block">Guardar</button>
			</div>

	</form>
			
	</ion-content>
</ion-modal-view>