<ion-view view-title="LISTA DE PEDIDOS">

<ion-content>

    <div class="card" ng-show="pedidos.length == 0">
      <div class="item item-text-wrap">
        No hay nada en la lista, agrega un pedidos porfavor!!
      </div>
    </div>

<div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="name.pedido">
      </label>
    </div>
    
      <ion-item on-hold="showOptions( $index )" class="item-thumbnail-left" ng-repeat="pedido in pedidos" type="item-text-wrap">
        <img ng-src="{{pedido.photo}}">
        <p>Cantidad Producto: {{pedido.cantidadProducto}}</p>
     	<p>Costo Total: {{pedido.total}}</p>
        
      </ion-item>

  </ion-content>
  
</ion-view>