<ion-header-bar class="bar-positive">
  <div class = "buttons" type="center">
    
  <h1 class="title">INGRESE SUS DATOS</h1>

  <button type="button" class ="button button-icon ion-ios-close item-icon-rigth" ng-click="salir()"></button>
</div>
</ion-header-bar>


<ion-view title="Login">
  <ion-content>
    <form ng-submit="doLogin()" >
      <div class="list list-inset">
        <label class="intem item-input item-floating-label">
          <span class="input-label">Usuario</span>
          <input placeholder="Escriba su nombre de Usuario" type="text" ng-model="data.username">
        </label>
        <label class="intem item-input item-floating-label">
          <span class="input-label">Contraseña</span>
          <input placeholder="Escriba su contraseña" type="password" ng-model="data.password">

          <!--minlength ="3"-->
        </label>
      </div>
      <div class="padding">
        <button iu-sref="app" ng-disabled="!data.username || !data.password" class ="button button-block bar bar-positive">Aceptar</button>
      </div>
    </form>
  </ion-content>
</ion-view>