<ion-view title ="NOVEDADES">

  <ion-header-bar class="bar-positive">
    <h2 class="title">novedades</h2>
    <div class="buttons">
      <button ng-click="closeModal()" class="button icon ion-close"></button>
    </div>

  </ion-header-bar>


  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <img class="full-image" ng-src="img/galleta.jpg">
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <img class="full-image" ng-src="img/noticias.jpg">
      </label>
    </div>


  </ion-content>
</ion-view>
