<ion-modal-view>

	<ion-header-bar class="bar-calm">
		<h2 class="title"> Pedido</h2>
		<!--{{producto.name}} como titulo-->
		<div class="buttons">
			<button ng-click="Salir()" class="button icon ion-close"></button>
		</div>
	</ion-header-bar>

	<ion-content>
			<center>

		<div class="padding" ng-show="pedido.photo">
				<img class="full-image" type="center" ng-src="{{ producto.photo }}" style="width: 100px; height: 100px">
			</div>
			</center>
		<form ng-submit="pedido(pedido.cantProducto)">
			
			<div class="list">
				
				<label class="item item-input">
					<span class="input-label">Codigo:</span>
					<p>{{pedido.codigo}}</p>

				</label>

				<label class="item item-input">
					<span class="input-label">Nombre:</span>
					<p>{{pedido.nombre}}</p>

				</label>

				<label class="item item-input">
					<span class="input-label">Cantidad:</span>
					<p>{{ppedid.cantidad}}</p>
				</label>

				<label class="item item-input">
					<span class="input-label">Precio unidad:</span>
					<p>{{pedido.precio}}</p>
				</label>
			</div>
			
			<div class="padding">
				<button type="submit" class="button button-positive button-block" ng-click="closeModal()">Salir</button>
			</div>

		</form>
	</ion-content>
</ion-modal-view>