<ion-view view-title="{{producto.name}}">

<ion-nav-buttons side="right">
    <button ng-click="showModal()" class="button icon ion-close"></button>
  </ion-nav-buttons>


  <ion-content class="padding">

<div type="center">
  <h1 class="title">Foto</h1>

    <img ng-src="{{producto.face}}" style="width: 64px; height: 64px">
  <h5 class = "title">Detalles</h5>
    <p>
      cantidad: {{producto.cantidad}}
    </p>
    <p>
      id: {{producto.id}}
    </p>

    </div>
  </ion-content>



</ion-view>
