<ion-view view-title="Registro">

  <ion-content>

  <form ng-submit="saveCliente()">
    <div class="list">

				<label class="item item-input item-floating-label">
					<span class="input-label">Nombre:</span>
					<input type="text" placeholder="Nombre" ng-model="cliente.nombre">
				</label>

				<label class="item item-input item-floating-label">
					<span class="input-label">Apellido Paterno</span>
					<input type="text" placeholder="Apellido Paterno" ng-model="cliente.apellidoPaterno">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Apellido Materno</span>
					<input type="text" placeholder="Apellido Materno" ng-model="cliente.apellidoMaterno">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Carnet de Identidad</span>
					<input type="number" placeholder="CI" ng-model="cliente.CI">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Nombre Tienda</span>
					<input type="text" placeholder="Nombre Tienda" ng-model="cliente.nombreTienda">
				</label>

			</div>

			<div class="row">

				<div class="col">
					<button type="button" class="button icon-left ion-camera button-dark button-block">Camara</button>
				</div>

				<div class="col">
				<button class="button icon-left button-calm button-block ion-location">ubicación</button>
				</div>


			</div>

			<div class="padding" ng-show="cliente.face">
				<img class="full-image" ng-src="{{ cliente.face }}" alt="photo">
			</div>

	
			<div class="padding">
				<button type="submit" class="button button-calm button-block">Guardar</button>
			</div>

		</form>
  </ion-content>
</ion-view>