<ion-view title ="EMPLEADOS">

<ion-nav-buttons side="right">
    <button ng-click="showModal()" class="button icon ion-person-add"></button>
  </ion-nav-buttons>

<ion-content>

    <div class="card" ng-show="users.length == 0">
      <div class="item item-text-wrap">
        No hay nada en la lista, agrega un cliente nuevo porfavor!!
      </div>
    </div>


<div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Buscar" ng-model="users.nombre">
      </label>
    </div>

<ion-list>
    
      <ion-item on-hold="showOptions( $index )" class="item-thumbnail-left"  ng-repeat="user in users | filter: {nombre: users.nombre}" type="item-text-wrap" href="#/app/users/{{nombre.users}}">
        <img ng-src="{{user.photo}}" alt ="">
        <h2>{{user.nombre}}</h2>
        <p> {{user.apPat}}</p>
        <p> {{user.apMat}}</p>
        <p>{{user.lista[0].cantidad}}</p>
        <p>{{user.cantidad}}</p>
        <p>{{user.pedido}}</p>

        <ion-option-button ng-click="deleteUser( $index )" class="button-calm">
          Delete
        </ion-option-button>
        
       
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
